openapi: 3.1.0
info:
  title: Google Cloud DNS Changes ManagedZones API
  description: Manages DNS zones and resource record sets on Google Cloud, including creating managed zones, configuring DNS records, and managing DNS policies.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dns
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://dns.googleapis.com/dns/v1
  description: Google Cloud DNS API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/ndev.clouddns.readwrite
tags:
- name: ManagedZones
  description: Manage DNS zones
paths:
  /projects/{project}/managedZones:
    get:
      operationId: listManagedZones
      summary: Google Cloud DNS List Managed Zones
      description: Enumerates managed zones that have been created.
      tags:
      - ManagedZones
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: maxResults
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  managedZones:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedZone'
                  nextPageToken:
                    type: string
    post:
      operationId: createManagedZone
      summary: Google Cloud DNS Create Managed Zone
      description: Creates a new managed zone.
      tags:
      - ManagedZones
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedZone'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedZone'
  /projects/{project}/managedZones/{managedZone}:
    get:
      operationId: getManagedZone
      summary: Google Cloud DNS Get Managed Zone
      description: Fetches the representation of an existing managed zone.
      tags:
      - ManagedZones
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: managedZone
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedZone'
    patch:
      operationId: patchManagedZone
      summary: Google Cloud DNS Update Managed Zone
      description: Applies a partial update to an existing managed zone.
      tags:
      - ManagedZones
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: managedZone
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedZone'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
    delete:
      operationId: deleteManagedZone
      summary: Google Cloud DNS Delete Managed Zone
      description: Deletes a previously created managed zone.
      tags:
      - ManagedZones
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: managedZone
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful deletion
components:
  schemas:
    Operation:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        dnsKeyContext:
          type: object
        zoneContext:
          type: object
    ManagedZone:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        dnsName:
          type: string
        description:
          type: string
        nameServers:
          type: array
          items:
            type: string
        visibility:
          type: string
          enum:
          - public
          - private
        dnssecConfig:
          type: object
          properties:
            state:
              type: string
              enum:
              - 'off'
              - 'on'
              - transfer
            kind:
              type: string
        creationTime:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/ndev.clouddns.readwrite: Full access to Cloud DNS
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
