openapi: 3.1.0
info:
  title: Google Cloud DNS Changes API
  description: Manages DNS zones and resource record sets on Google Cloud, including creating managed zones, configuring DNS records, and managing DNS policies.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dns
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://dns.googleapis.com/dns/v1
  description: Google Cloud DNS API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/ndev.clouddns.readwrite
tags:
- name: Changes
  description: Manage DNS changes
paths:
  /projects/{project}/managedZones/{managedZone}/changes:
    get:
      operationId: listChanges
      summary: Google Cloud DNS List Changes
      description: Enumerates changes to a managed zone.
      tags:
      - Changes
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: managedZone
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  changes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Change'
                  nextPageToken:
                    type: string
    post:
      operationId: createChange
      summary: Google Cloud DNS Create Change
      description: Atomically updates the resource record set collection.
      tags:
      - Changes
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: managedZone
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Change'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Change'
components:
  schemas:
    Change:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - pending
          - done
        startTime:
          type: string
          format: date-time
        additions:
          type: array
          items:
            $ref: '#/components/schemas/ResourceRecordSet'
        deletions:
          type: array
          items:
            $ref: '#/components/schemas/ResourceRecordSet'
    ResourceRecordSet:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - NS
          - SOA
          - TXT
          - SRV
          - PTR
          - CAA
        ttl:
          type: integer
        rrdatas:
          type: array
          items:
            type: string
        signatureRrdatas:
          type: array
          items:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/ndev.clouddns.readwrite: Full access to Cloud DNS
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
